@charset "UTF-8";

*バナーサンプル用　CSS*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, sans-serif;
}

.wrapper {
  width: 1100px;
  margin: 0 auto;
}

h1 {
  font-size: 34px;
  line-height: 1.4;
  color: #666;
  border-bottom: 1px dotted #666;
  margin: 20px 0 30px;
}

.content {
  width: 1100px;
  margin: 20px 0 10px;
}

h2 {
  font-size: 24px;
  color: #333;
  border-bottom: 2px solid #b13c3c;
  margin-bottom: 40px;
}

.concept {
  width: 728px;
  float: left;
  margin-left: 40px;
  margin-bottom: 30px;
  
}

.Lboard {
  margin-bottom: 30px;
}

h3 {
  font-size: 22px;
  border-left: 10px solid #b13c3c;
  padding-left: 10px;
  margin-bottom: 10px;
}

h4 {
  font-size: 20px;
  line-height: 30px;
  color: #333;
  margin-bottom: 10px;
}

.comment {
  width: 728px;
  height: 300px;
  overflow-y: auto;
  border: 2px dotted #ac6363;
  padding: 10px;
  box-sizing: border-box;
}

h5 {
  font-size: 18px;
  color: #b13c3c;
  border-bottom: 1px solid #b13c3c;
  margin-bottom: 10px;
}

h6 {
  font-size: 16px;
  margin-bottom: 5px;
  border-left: 10px solid #b13c3c;
  padding-left: 10px;

}

.comment p {
  font-size: 1em;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 1em;
}


.MRboard {
  width: 300px;
  float: right;
}

img {
  margin-bottom: 10px;
}

footer {
  clear: both;
  text-align: center;
  line-height: 100px;
}
footer a {
  font-size: 14px;
}
footer a:hover {
  color: #f00;
  text-decoration: none;
}
